extends layout

block content
	h1= title
	div.drag-to-upload
		form(id='imgDropzone', class='dropzone')
	br
	label(for='bucket') Bucket Name:
		input(id='bucket', type='text')
	br
	label(for='id') Id:
		input(id='id', type='text')



