doctype 5
html
	head
		title= 'ImageSmith - ' + title
		link(rel='stylesheet', href='/stylesheets/style.css')
		if styles
			each style in styles
				link(rel='stylesheet', href= '/stylesheets/' + style)
		//dataLayer
		script.
			window.dataLayer = !{JSON.stringify(dataLayer)};
		if scripts
			each script in scripts
				script(type='text/javascript', src= '/scripts/' + script)
	body
		block content
