extends layout

block content
	div.heading
		h1 ImageSmith
		span.tree= title
	div#dnd-content
		div.drag-to-upload
			form(id='imgDropzone', class='dropzone', action='/images/' + dataLayer.bucket)
				img(src="http://build.com/mediabase/Site/Build.com/images/_uxfiles/image-icon.jpg")
				div.dz-message Drag Image(s) Here or Click to Choose
		h2 Existing Files
		hr
		div#existing-files
		div.spacer


